<% include header%>
<p>Lorem ipsum dolor sit amet, debitis.</p>
<span>Latitud &nbsp;<%=lat%></span>
<span>Longitud &nbsp;<%=long%></span>
<p>
  la temperatura local es <%=temp%>
</p>
<%include footer%>
